/* colors: */
$color-pink: #FF70D9;
$color-yellow: #EBFF00;
$color-background: #304571;
$color-black: #000000;
$color-white: #FFFFFF;

/* typography  */
$fontSizeXS: 14px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeSM: 20px;
$fontSizeL: 22px;

$fontBold: 800;
$lineHeight: 100%;


/* sizes  */
$border-radiusS: 10px;
$border-radius: 100px;
$with-container: 1248px;

$height-headerM: 80px;
$height-headerS: 48px;

$height-footer: 127px;

$with-heroM: 490px;
$with-heroSM: 450px;
$with-heroS: 420px;


$gapM: 22px;

/* breakpoints */
$sm: 360px;
$m: 460px;
$md: 768px;
$l: 868px;


/* effects */
$gradient: linear-gradient(98.25deg, $color-yellow 18.56%, $color-pink 76.02%);
$transition: 0.3s;


