@use 'src/styles/layout' as *;
@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixin;

.header {
  background-color: var.$color-black;
  height: var.$height-headerM;

  &__nav {
    @extend %container;
    @include mixin.flex(space-between);
  }

  @media (max-width: var.$md) {
    &__logo {
      svg {
        width: 70px;
      }
    }
  }

  &__list {
    @include mixin.flex(flex-start);
    gap: 28px;
    padding-inline: 12px;
  }

  &__item {
    color: var.$color-white;
    font-size: var.$fontSizeM;
    padding: 12px 20px;

    &:hover {
      background: var.$gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: var.$sm) {
    height: var.$height-headerS;
  }
}
