@use 'src/styles/layout' as *;
@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixin;

.header {
  background-color: var.$color-black;
  height: var.$height-headerM;

  &__nav {
    position: relative;
    @extend %container;
    @include mixin.flex(space-between);
  }

  @media (max-width: var.$md) {
    &__logo {
      svg {
        width: 70px;
      }
    }
  }

  &__list {
    @include mixin.flex(flex-start);
    gap: 28px;
    padding-inline: 12px;

    @media (max-width: var.$m) {
      padding-block: 40px;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__menu {
    &-icon {
      display: none;

      @media (max-width: var.$m) {
        z-index: 100;
        display: block;
      }
    }

    &-desktop {
      @media (max-width: var.$m) {
        display: none;
      }
    }
  }

  &__navbar {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;
    background-color: var.$color-black;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
  }

  &__item {
    color: var.$color-white;
    font-size: var.$fontSizeM;
    padding: 12px 20px;

    &:hover {
      background: var.$gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: var.$sm) {
    height: var.$height-headerS;
  }
}
