@use 'src/styles/layout' as *;
@use 'src/styles/variables' as var;

.journey {
  @extend %container;
  padding-block: 70px 65px;

  @media (max-width: var.$md) {
    padding-block: 55px;
  }

  @media (max-width: var.$m) {
    padding-block: 45px;
  }

  &__inner {
    font-size: var.$fontSizeSM;

    @media (max-width: var.$md) {
      font-size: var.$fontSizeS;
    }

    @media (max-width: var.$m) {
      font-size: var.$fontSizeXS;
    }
  }

  &__description {
    color: var.$color-white;
    line-height: 120%;
    letter-spacing: 0.2px;
    opacity: 0.6;
    padding-block: 12px 20px;

    @media (max-width: var.$m) {
      padding-top: 24px;
    }
  }
}