@use 'src/styles/layout' as *;
@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixin;

.offers {
  @extend %container;
  padding-top: 55px;

  &__container {
    display: grid;
    gap: 40px;
    padding-top: 40px;
  }

  &__card {
    @include mixin.flex(center, flex-start);
    padding: 36px;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    gap: var.$gapM;
    max-height: 350px;
    height: 100%;
    border-radius: var.$border-radiusS;
  }

  &__title {
    max-width: 50%;
    font-size: 46px;
    font-weight: var.$fontBold;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: var.$fontBold;
  }
}